<header xmlns:th="http://www.thymeleaf.org" th:fragment="header" class="page-header page-header-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Online shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/allProducts">All products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
                <a class="nav-link" href="/shopCart">
                    <button class="btn btn-success">Shopping cart<i class="mx-2 fas fa-shopping-cart"></i></button>
                </a>
                <!--                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
                <!--                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
            </div>
        </div>
    </nav>
</header>