<header xmlns:th="http://www.thymeleaf.org" th:fragment="header" class="page-header page-header-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Online shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/allProducts">All products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0 text-white">
<!--                <div class="form-inline" th:if="${cartPrice!=null}">-->
<!--                    <p class="m-0 mx-2">Cart price:</p>-->
<!--                    <h6 class="m-0" th:text="${cartPrice}+'₴'"></h6>-->
<!--                </div>-->
                <a class="nav-link p-0" href="/shopCart">
                    <button class="btn text-white p-1">
                        <span class="badge badge-pill badge-primary m-4" th:if="${cartAmount!=0}" th:text="${cartAmount}"
                              style="position:absolute; z-index: 1"></span>
                        <i class="mx-2 fas fa-shopping-cart fa-lg"></i>
                    </button>
                </a>

                <a class="nav-link p-0" href="/profile">
                    <button class="btn text-white p-1">
                        <i class="mx-3 fas fa-user fa-lg"></i>
                    </button>
                </a>
                <a class="nav-link p-0" href="/logout">
                    <button class="btn text-white p-1">
                        <i class="mx-3 fas fa-sign-out-alt fa-lg"></i>
                    </button>
                </a>
            </div>
        </div>
    </nav>
</header>
