<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
    <title>Layout Main</title>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link th:href="@{//stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{//cdn.datatables.net/1.10.24/css/jquery.dataTables.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/maincss/jquery-confirm.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/maincss/sidebar/sidebar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/maincss/hoverImgCard/hoverImgCard.css}">
    <script data-search-pseudo-elements defer
            th:src="@{//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js}"
            crossorigin="anonymous"></script>


    <script th:src="@{//code.jquery.com/jquery-3.5.1.min.js}"></script>
    <script th:src="@{//code.jquery.com/ui/1.12.1/jquery-ui.js}"></script>

    <script th:src="@{//stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js}"></script>

    <script th:src="@{/js/mainjs/jquery-confirm.js}"></script>
    <script th:src="@{/assets/demo/allertService.js}"></script>
    <script th:src="@{/assets/tableService.js}"></script>
    <script th:src="@{/css/maincss/sidebar/sidebar.js}"></script>


</head>
<body>
</body>

</html>
