<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/mainLayout}">

<div layout:fragment="layout_content" id="layout_content">
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <div class="row px-3">
                        <div class="card  m-2 p-0 shadow-sm" style="width: 14rem;" th:each="product: *{products}">

                            <div>
                                <img th:src="${product.image}" class="card-img-top img-thumbnail border-0" alt="..."
                                     style="height: 200px">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-left" th:text="${product.name}"></h5>
                                <hr class="m-1">
                                <h6 th:text="${product.categoryDto.title}"></h6>
                                <h4>
                                    <span class="font-weight-normal" th:text="${product.price}"></span><span
                                        class="font-weight-normal"> ₴ </span>
                                    <a th:href="@{/product/addToCart/{shopCartId}/{productId}(shopCartId=${cart.id}, productId=${product.id})}">
                                        <button class="btn btn-outline-success float-right">
                                            <i class="fa fa-shopping-cart"></i>
                                        </button>
                                    </a>
                                </h4>
                                <span class="float-left" th:text="${product.description}"></span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

</div>
</html>