<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{//stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script data-search-pseudo-elements defer
            th:src="@{//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js}"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/maincss/authPage/auth.css}">
</head>

<body>
<div class="login">
    <h1>Login</h1>
    <form method="POST" id="login-form" th:action="@{/login}">
        <input type="email" name="email" id="email" placeholder="Email address" required="required" />
        <input type="password" id="password" name="password" placeholder="Password" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Login</button>
        <a th:href="@{/signUp}" class="text-center">Register new account</a>
    </form>
</div>
</body>

<script th:src="@{//stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js}"></script>
</html>
