<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/mainLayout}">

<div layout:fragment="layout_content" id="layout_content">
    <div class="alert alert-dismissible fade show" th:classappend="${status}" role="alert" th:if="${message != null}">
        <strong th:text="${message}"></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <main>
        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header text-center  bg-success text-white">
                            Create new product
                        </div>
                        <div class="card-body p-3">
                            <form method="post" th:action="@{/product/create}" id="productCreateForm"
                                  class="m-0" th:object="${productCreate}">
                                <div class="form-row">
                                    <div class="form-group col-md-4 mb-2">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" id="name"
                                               th:field="*{name}">
                                    </div>
                                    <div class="form-group col-md-4 mb-2">
                                        <label for="inputPassword4">Description</label>
                                        <input type="text" class="form-control" id="inputPassword4"
                                               th:field="*{description}">
                                    </div>
                                    <div class="form-group col-md-4 mb-2">
                                        <label for="image">Image</label>
                                        <input type="text" class="form-control" id="image"
                                               th:field="*{image}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4 mb-2">
                                        <label for="inputCity">Quantity</label>
                                        <input type="number" min="1" class="form-control" id="inputCity"
                                               th:field="*{quantity}">
                                    </div>
                                    <div class="form-group col-md-4 mb-2">
                                        <label for="inputPrice">Price</label>
                                        <input type="number" min="1" class="form-control" id="inputPrice"
                                               th:field="*{price}">
                                    </div>
                                    <div class="form-group col-md-4 mb-2">
                                        <label for="inputCity">Category</label>
                                        <div class="input-group mb-3">
                                            <select id="inputState" class="form-control"
                                                    th:field="*{categoryDto.title}">
                                                <option th:each="category:${categories}"
                                                        th:value="${category.title}"><p
                                                        th:text="${category.title}"></p></option>
                                            </select>
                                            <div class="input-group-prepend">
                                                <span class="input-group-text btn btn-outline-success"
                                                      data-toggle="collapse" href="#addCat" role="button"
                                                      aria-expanded="false" aria-controls="collapseExample"
                                                      id="basic-addon1">
                                                    <i class="fas fa-plus"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-block btn-outline-success">Create</button>
                            </form>
                        </div>
                    </div>

                    <div class="card collapse" id="addCat">
                        <div class="card-header text-center  bg-success text-white">
                            Create new category
                        </div>
                        <div class="card-body p-3">
                            <div class="form-group col-md-12 mb-2 p-0">
                                <form method="post" th:action="@{/category/create}" id="createCategoryForm"
                                      class="m-0" th:object="${category}">
                                    <label for="newCat">Category</label>
                                    <div class="input-group mb-3">
                                        <input class="form-control" type="text" id="newCat"
                                               th:field="*{title}">
                                        <div class="input-group-prepend">
                                            <button class="btn-outline-success input-group-text"
                                                    type="submit"
                                                    id="createCat">Create
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header text-center bg-primary text-white">
                            Edit product
                        </div>
                        <div class="card-body p-3">
                            <form method="post"
                                  th:action="@{/product/updateProduct/{productId}(productId=${product.id})}"
                                  id="editProduct" class="m-0"

                                  th:object="${product}">
                                <div class="form-row">
                                    <div class="form-group col-md-4 mb-2">
                                        <label for="editName">Name</label>
                                        <input type="text" class="form-control" id="editName"
                                               th:value="${product.name}"
                                               th:field="*{name}">
                                    </div>
                                    <div class="form-group col-md-4 mb-2">
                                        <label for="editInputPassword4">Description</label>
                                        <input type="text" class="form-control" id="editInputPassword4"
                                               th:value="${product.description}"
                                               th:field="*{description}">
                                    </div>
                                    <div class="form-group col-md-4 mb-2">
                                        <label for="editImage">Image</label>
                                        <input type="text" class="form-control" id="editImage"
                                               th:value="${product.image}"
                                               th:field="*{image}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4 mb-2">
                                        <label for="editInputCity">Quantity</label>
                                        <input type="number" min="1" class="form-control" id="editInputCity"
                                               th:value="${product.quantity}"
                                               th:field="*{quantity}">
                                    </div>
                                    <div class="form-group col-md-4 mb-2">
                                        <label for="editInputPrice">Price</label>
                                        <input type="number" min="1" class="form-control"
                                               id="editInputPrice"
                                               th:value="${product.price}"
                                               th:field="*{price}">
                                    </div>
                                    <div class="form-group col-md-4 mb-2">
                                        <label for="editInputState">Category</label>
                                        <select id="editInputState" class="form-control"
                                                th:field="*{categoryDto.title}">
                                            <option th:each="category:${categories}"
                                                    th:value="${category.title}"><p
                                                    th:text="${category.title}"></p></option>
                                        </select>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-block btn-outline-primary">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card text-center">
                        <div class="card-header bg-info text-white">
                            All products
                        </div>
                        <div class="card-body p-3">
                            <!--                            <div class="datatable" id="productTable">-->
                            <!--                                <table class="table table-hover table-responsive-xl table-bordered mb-0"-->
                            <!--                                       id="productDashboard">-->
                            <!--                                    <thead>-->
                            <!--                                    <tr>-->
                            <!--                                        <th scope="col">#</th>-->
                            <!--                                        <th scope="col">Name</th>-->
                            <!--                                        <th scope="col">Category</th>-->
                            <!--                                        <th scope="col">Price</th>-->
                            <!--                                        <th scope="col">Quantity</th>-->
                            <!--                                        <th scope="col">Actions</th>-->
                            <!--                                    </tr>-->
                            <!--                                    </thead>-->
                            <!--                                    <tbody>-->
                            <!--                                    <tr th:each="product, productStat:${products}">-->
                            <!--                                        <th scope="row" th:text="${productStat.count}"></th>-->
                            <!--                                        <td th:text="${product.name}"></td>-->
                            <!--                                        <td th:text="${product.categoryDto.title}"></td>-->
                            <!--                                        <td th:text="${product.price}"></td>-->
                            <!--                                        <td th:text="${product.quantity}"></td>-->
                            <!--                                        <td>-->
                            <!--                                            <a class="btn btn-outline-warning float-left mr-2"-->
                            <!--                                               th:href="@{/selectProduct/{productId}(productId=${product.id})}">-->
                            <!--                                                <i class="far fa-edit"></i>-->
                            <!--                                            </a>-->
                            <!--                                            <a class="btn btn-outline-danger float-left mr-2"-->
                            <!--                                               th:onclick="'javascript:deleteProduct('+${product.id}+');'">-->
                            <!--                                                <i class="far fa-trash-alt"></i>-->
                            <!--                                            </a>-->
                            <!--&lt;!&ndash;                                            th:href="@{/deleteProduct/{productId}(productId=${product.id})}"&ndash;&gt;-->
                            <!--                                        </td>-->
                            <!--                                    </tr>-->
                            <!--                                    </tbody>-->
                            <!--                                </table>-->
                            <!--                            </div>-->

                            <div th:insert="productTable.html"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<th:block layout:fragment="scripts">
    <script th:inline="javascript">
        function deleteProduct(productId) {
            let url = "/deleteProduct/" + productId;
            $.get(url)
                .done(function (page) {
                    let table = $("#productDashboard").DataTable();
                    table.destroy();
                    $("#productTable").replaceWith(page);
                    loadProductDashboardTable();
                    loadTimeSuccessAlert("Product deleted", 3000);
                })
            console.log(productId);
        }

        $('#productDashboard').DataTable({
            bAutoWidth: false,
            "columnDefs": [
                {"width": "10%", "targets": 0},
                {"width": "25%", "targets": 1},
                {"width": "25%", "targets": 2},
                {"width": "20%", "targets": 3},
                {"width": "10%", "targets": 4},
                {"width": "15%", "targets": 5},
            ]
        });

    </script>
</th:block>
</html>
