<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/mainLayout}">

<div layout:fragment="layout_content" id="layout_content">
    <div class="container mt-5">
        <div class="row gutters">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <div class="account-settings">
                            <div class="user-profile">
                                <div class="user-avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" style="width: 8rem"
                                         alt="Maxwell Admin">
                                </div>
                                <h5 class="user-name my-2" th:text="${user.firstName}+' '+${user.lastName}"></h5>
                                <h6 class="user-email my-2" th:text="${user.email}"></h6>
                            </div>
                            <div class="about">
                                <h5>About</h5>
                                <p>I'm Yuki. Full Stack Designer I enjoy creating user-centric, delightful and human
                                    experiences.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Personal details
                                </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                <form class="m-0">
                                    <div class="form-row">
                                        <div class="col-lg-6">
                                            <label for="first">First Name</label>
                                            <input type="text" class="form-control" id="first"
                                                   th:value="${user.firstName}">
                                        </div>
                                        <div class="col-lg-6">
                                            <label for="last">Last Name</label>
                                            <input type="text" class="form-control" id="last"
                                                   th:value="${user.lastName}">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-lg-6">
                                            <label for="mail">Email</label>
                                            <input type="text" class="form-control" id="mail" th:value="${user.email}">
                                        </div>
                                        <div class="col-lg-6">
                                            <label for="phone">Phone number</label>
                                            <input type="text" class="form-control" id="phone"
                                                   th:value="${user.mobileNumber}">
                                        </div>
                                    </div>
                                    <div class="form-row mt-2 d-flex justify-content-end">
                                        <div class="col-lg-6 d-flex justify-content-end">
                                            <button class="btn btn-success">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button"
                                        data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                    Change password
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                <form class="m-0"  action="#" method="POST" th:action="@{/password}" th:object="${passwordForm}">
                                    <div class="form-row">
                                        <div class="col-lg-6">
                                            <label for="first">Old password</label>
                                            <input type="text" class="form-control" id="old" th:field="${passwordForm.oldPassword}">
                                        </div>
                                        <div class="col-lg-6">
                                            <label for="last">New password</label>
                                            <input type="text" class="form-control" id="new" th:field="${passwordForm.password}">
                                        </div>
                                    </div>
                                    <div class="form-row mt-2 d-flex justify-content-end">
                                        <div class="col-lg-6 d-flex justify-content-end">
                                            <button class="btn btn-secondary mx-2">Cancel</button>
                                            <button class="btn btn-success">Submit</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button"
                                        data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    Address
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                And lastly, the placeholder content for the third and final accordion panel. This panel
                                is hidden by default.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
