<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{//stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script data-search-pseudo-elements defer
            th:src="@{//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js}"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/maincss/authPage/auth.css}">
</head>

<body>
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">-->
<!--            <div class="card card-signin my-5">-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title text-center">Sign Up</h5>-->
<!--                    <form method="POST" class="form-signin" id="login-form" th:action="@{/signup}" th:object="${user}">-->
<!--                        <div class="form-label-group">-->
<!--                            <input type="email" id="email" name="email" class="form-control" th:field="*{email}"-->
<!--                                   style="cursor: pointer" placeholder="Email address" required autofocus>-->
<!--                            <label for="email">Email address</label>-->
<!--                            <small class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>-->
<!--                        </div>-->

<!--                        <div class="form-label-group">-->
<!--                            <input type="password" id="password1" name="password" class="form-control" th:field="*{password}"-->
<!--                                   style="cursor: pointer" placeholder="Password" required>-->
<!--                            <label for="password1">Password</label>-->
<!--                        </div>-->
<!--                        <div class="form-label-group">-->
<!--                            <input type="text" id="name" name="password" class="form-control"  th:field="*{firstName}"-->
<!--                                   style="cursor: pointer" placeholder="Password" required>-->
<!--                            <label for="name">First name</label>-->
<!--                        </div>-->
<!--                        <div class="form-label-group">-->
<!--                            <input type="text" id="password2" name="password" class="form-control" th:field="*{lastName}"-->
<!--                                   style="cursor: pointer" placeholder="Password" required>-->
<!--                            <label for="password2">Last name</label>-->
<!--                        </div>-->
<!--                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" name="signin" id="signin"-->
<!--                                value="Log in">Sign Up</button>-->
<!--                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->



<div class="login">
    <h1>Registration</h1>
    <form method="POST" id="registerForm" th:action="@{/signup}" th:object="${user}">
        <input type="email" name="email" id="email" th:field="*{email}" placeholder="Email address" required="required" />
        <input type="password" id="password" th:field="*{password}" name="password" placeholder="Password" required="required" />
        <input type="text" id="name" name="password"  placeholder="First name" th:field="*{firstName}">
        <input type="text" id="lastName" name="password" placeholder="Last name" th:field="*{lastName}">
        <button type="submit" class="btn btn-primary btn-block btn-large">Submit</button>
    </form>
</div>
</body>

<script th:src="@{//stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js}"></script>
</html>
